@font-face {
  font-family: "Lexend Deca";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/LexendDeca-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/SpaceMono-Bold.woff2") format("woff2");
}
