---
import { Icon } from "astro-icon/components"
---

<footer>
  <div class="inner container">
    <a href="/" class="logo" aria-hidden="true">scoot</a>
    <nav>
      <ul class="navigation-list">
        <li class="visually-hidden"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/location">Location</a></li>
        <li><a href="/careers">Careers</a></li>
      </ul>
    </nav>
    <ul class="social">
      <li>
        <a href="#" aria-label="Visit our Facebook page" target="_blank"
          ><Icon name="facebook" size={24} aria-hidden="true" /></a
        >
      </li>
      <li>
        <a href="#" aria-label="Visit our Twitter page" target="_blank"
          ><Icon
            name="twitter"
            width={24}
            height={19.5}
            aria-hidden="true"
          /></a
        >
      </li>
      <li>
        <a href="#" aria-label="Visit our Instagram page" target="_blank"
          ><Icon name="instagram" size={24} aria-hidden="true" /></a
        >
      </li>
    </ul>
  </div>
</footer>

<style lang="scss">
  @use "../sass/abstracts" as *;

  footer {
    background-color: $color-neutral-900;
    text-align: center;
    padding-block: 4rem 5.5rem;

    .inner {
      display: grid;
      justify-items: center;
    }

    .logo {
      font-family: $font-family-accent;
      font-size: 2.25rem;
      font-weight: $font-weight-bold;
      color: $color-neutral-000;
      line-height: 1;
      letter-spacing: -1.5px;
      text-decoration: none;

      &:is(:hover, :focus-visible) {
        color: $color-brand-400;
      }
    }

    .navigation-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      list-style: none;
      margin-block-start: 2.5rem;

      a {
        font-family: $font-family-accent;
        text-decoration: none;
      }
    }

    .social {
      display: flex;
      gap: 1.5rem;
      list-style: none;
      margin-block-start: 5.3125rem;

      a {
        color: $color-brand-400;
        transition: color 200ms ease-in;

        &:is(:hover, :focus-visible) {
          color: $color-neutral-000;
        }
      }
    }

    @include mq(medium) {
      padding-block: 2.25rem 2.5rem;
      text-align: start;

      .inner {
        grid-template-columns: auto 1fr auto;
        align-items: center;
        justify-items: start;
        gap: 3.625rem;
      }

      .navigation-list {
        flex-direction: row;
        margin-block-start: 0;
      }

      .social {
        margin-block-start: 0;
      }
    }
  }
</style>
