---
// Component imports
import PrimaryNav from "./PrimaryNav.astro"
---

<header>
  <div class="inner container">
    <a href="/" class="logo" aria-hidden="true">scoot</a>
    <PrimaryNav />
  </div>
</header>

<style lang="scss">
  @use "../sass/abstracts" as *;

  header {
    .inner {
      height: 6rem;
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center;
      gap: 3.625rem;

      @include mq(medium, max) {
        height: 4rem;
        display: grid;
        grid-template-areas: "stack";
      }
    }

    .logo {
      font-family: $font-family-accent;
      font-size: 2.25rem;
      font-weight: $font-weight-bold;
      text-decoration: none;
      color: $color-neutral-700;
      line-height: 1;
      letter-spacing: -1.5px;

      &:is(:hover, :focus-visible) {
        color: $color-brand-400;
      }

      @include mq(medium, max) {
        grid-area: stack;
        justify-self: center;
      }
    }
  }
</style>
