---

---

<section aria-labelledby="sign-up-title">
  <div class="inner container">
    <h2 id="sign-up-title" class="heading-2">Sign up and Scoot off today</h2>
    <div class="flex-group">
      <a href="#" aria-label="Download our App from AppStore"
        ><img
          src="/img/app-store.svg"
          alt=""
          class="app-store"
          role="presentation"
          width="113.57"
          height="40"
        /></a
      >
      <a href="#" aria-label="Download our App from GooglePlay"
        ><img
          src="/img/google-play.svg"
          alt=""
          class="google-play"
          role="presentation"
          width="130"
          height="40"
        /></a
      >
    </div>
  </div>
</section>

<style lang="scss">
  @use "../sass/abstracts" as *;

  section {
    background-color: $color-neutral-700;
    background-image: url("../assets/patterns/semi-circles.svg");
    background-repeat: no-repeat;
    background-position: bottom right -173.5px;
    padding-block: 5.5rem;

    @include mq(medium) {
      padding-block: 3.875rem;
    }

    @include mq(large) {
      padding-block: 6.375rem;
    }

    .inner {
      display: grid;
      justify-items: center;
      gap: 2.5rem;

      @include mq(large) {
        grid-template-columns: 1fr auto;
        align-items: center;
      }
    }

    h2 {
      max-width: 17ch;
      color: $color-neutral-000;
      text-align: center;

      @include mq(medium) {
        max-width: 15ch;
      }

      @include mq(large) {
        text-align: start;
      }
    }

    .flex-group {
      --flex-column-gap: 0.75rem;

      @include mq(medium) {
        --flex-column-gap: 1.125rem;
      }
    }

    .app-store {
      @include mq(large) {
        width: 159px;
        height: 56px;
      }
    }

    .google-play {
      @include mq(large) {
        width: 182px;
        height: 56px;
      }
    }

    a {
      transition:
        transform 150ms ease-in,
        box-shadow 200ms ease-in 50ms;

      &:is(:hover, :focus-within) {
        transform: translateX(-1px) translateY(-1px);
        box-shadow: $box-shadow-1;
      }
    }
  }
</style>
