---
// Stylesheet import
import "../sass/main.scss"

// View transitions
import { ViewTransitions } from "astro:transitions"

// Component imports
import Header from "../components/Header.astro"
import SkipNavLink from "../components/SkipNavLink.astro"
import Footer from "../components/Footer.astro"
import SignUp from "../components/SignUp.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Scoot</title>
    <ViewTransitions />
  </head>
  <body>
    <SkipNavLink />
    <Header />
    <main id="main">
      <slot />
      <SignUp />
    </main>
    <Footer />
  </body><style lang="scss">
    @use "../sass/abstracts" as *;
    main {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        background-color: $color-neutral-1000;
        opacity: 0;
        transition: opacity 250ms ease-in-out;
      }

      &[data-overlay="true"]::after {
        z-index: 1;
        opacity: 0.75;
      }
    }
  </style>
</html>
